@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Onest:wght@100..900&display=swap");

@theme {
  --color-orange: #f26922;
  --color-dark: #09090b;
  --color-light: #71717a;
  --color-lighter: #e4e4e7;

  --font-display: "Onest", sans-serif;
  --font-button: "Bebas Neue", sans-serif;
}
